<div class="container">
    <div class="contenido-modal">
        <div class="row">
            <div class="col-xs-11">
                <h1>{{title}}</h1>
            </div>
            <div class="col-xs-1">
                <a class="cerrar" href="#"><span class="icon icon-flechas-cerrar"></span></a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">                                    
                <h2>{{slogan}}</h2>
                <hr class="{{category}}">
            </div>
        </div>

        <div class="row" id="info">
            <div class="col-xs-5">
                <p class="info">
                    <span class="icon icon-info"> Status: {{status}}</span>
                </p>
            </div>
            <div class="col-xs-4">
                <p class="price"><span class="icon icon-etiqueta"> {{price}}</span></p>
            </div>
            <div class="col-xs-3">
                <a href="{{link}}" class="web"><span class="icon icon-link"></span> Website</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="description">
                    <p>{{{content}}}</p>
                    <img src="img/aumi_item_detail.jpg">
                </div>
            </div>
        </div>
    </div>
</div>