$colors: $morado, $rojo; 
$categories: 'home-automation', 'infrastructure';

#expand {

	background-color: rgba(0,0,0,.8);
  	position:fixed;
  	top:0;
  	right:0;
  	bottom:0;
  	left:0;
  	opacity: 0;
  	pointer-events: none;
  	transition: all 1s;
  	overflow: auto;

  	&:target {
  		opacity:1;
  		pointer-events:auto;
  	}
  	&.show {
  		opacity:1;
  		pointer-events:auto;
  	}
  	@for $i from 1 through length($categories) {
	
		$this-color: nth($colors, $i);

		hr.#{nth($categories, $i)} {
			background-color: $this-color;
		}
	}

	.contenido-modal {
		background-color: #ffffff;
		width: 704px / 750px * 100%;
		margin: 0 auto;
		padding-left: 50px / 704px * 100%;
		padding-right: 50px / 704px * 100%;
		padding-top: 38px;
		position: relative;
		margin-top: 40px;

		h1 {
			font-family: 'Clear Sans Medium';
			font-size: 5rem;
			margin : 0;

		}

		span.icon-flechas-cerrar {
			float: right;
			font-size: 4.2rem;
			color: #7f7f7f;
		}

		h2 {
			font-family: 'Clear Sans Light';
			font-size: 2.5rem;
			margin: 8px 0 0 0;
		}

		hr {
			height: 7px;
			margin: 14px 0 37px 0;
		}
		
		.web {
			float: right;
		}

		#info {
			font-size: 2.3rem;
			font-family : 'Clear Sans';
			margin-bottom: 40px;
		}
		
		#description {
			font-size: 2rem;
		}
		
		img {
			width: 100%;
			margin: 40px 0;
		}

		ul {
			margin-top: 26px;
			list-style: circle;
		}

	}
}
