header {
	border-bottom: 1px solid #dddddc;
	height: 87px;

	@include breakpoint(tablet){
		height: 60px;
	}

	#logo {
		margin: 23.5px 0 23.5px (20px / 187.5px * 100%);
		max-width: 150px;
		width : 100%;
		height: auto;

		@include breakpoint(tablet){
			max-width: 156px;
			width: 100%;
			margin: 11px 0 0 (19px / 210.5px * 100%);
		}
	}
	
	nav {
		float: right;
		width: 179px / 562.5px * 100%;

		@include breakpoint(tablet){
			width: auto;
		}

		div {
			border-left: 1px solid #dddddc;
			float: left;
			height: 87px;
			position:relative;
			text-align: center;
			
			input[type="search"], input[type="text"]{
				display: none;
			}

			
			&.search, &.suggestion{
				width: 88px / 179px * 100%;
				position:relative;

				&:after{
					position: absolute;
					top:0;
					right: 0;
					width: 100%;
					font-family: 'icomoon';
					text-align: center;
					color: #7f7f7f;
					line-height: 87px;
					height: 87px;
				}
			}
			&.search{
				
				&:after{
					content:'\e906';
				}
			}
			&.suggestion{
			
				&:after{
					content:'\e900';	
				}

				&:focus {
					width: 100px;
				}
			}
			@include breakpoint(tablet) {
				
				width: auto;
				max-width: auto;
				height: 60px;

				input[type="search"], input[type="text"]{
					background:transparent;
					border: 0;
					-webkit-transition: all .5s ease;
					-o-transition: all .5s ease;
					transition: all .5s ease;
					margin-left: 0;
					display: inline-block;
					padding-left:15px;
					height: 59px;
					&:focus{
						outline:none;
						background: #fff;
					}
				} 
				&.suggestion, &.search{
					width: auto;
					&:after{
						width:40px;
						line-height: 59px;
						height: 59px;
					}
				}
				&.suggestion{	
					
					input[type="text"]{
						width: 200px;
						&:focus{
							width: 460px;				
						}
					}
				}
				&.search{
					
					input[type="search"]{
						width: 130px;
						&:focus{
							width: 460px;
						}
					}
					
				}
			}
			
		}
	}
}