@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('#{$icomoon-font-path}/icomoon.eot?88a1df');
    src:    url('#{$icomoon-font-path}/icomoon.eot?88a1df#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icomoon.ttf?88a1df') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff?88a1df') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg?88a1df#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bombillo {
    &:before {
        content: $icon-bombillo;
    }
}
.icon-etiqueta {
    &:before {
        content: $icon-etiqueta;
    }
}
.icon-flechas-cerrar {
    &:before {
        content: $icon-flechas-cerrar;
    }
}
.icon-flechas-expandir {
    &:before {
        content: $icon-flechas-expandir;
    }
}
.icon-info {
    &:before {
        content: $icon-info;
    }
}
.icon-link {
    &:before {
        content: $icon-link;
    }
}
.icon-lupa {
    &:before {
        content: $icon-lupa;
    }
}
.icon-play {
    &:before {
        content: $icon-play;
    }
}
.icon-previo {
    &:before {
        content: $icon-previo;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}

