@mixin ancho($min, $max){
	@media screen and (min-width: $min) and (max-width: $max){ @content;}
}

@mixin breakpoint($point) {
	
	@if $point == tablet {
		@media screen and (min-width : 768px){ @content; }
	}
	@else if $point == laptop {
		@media screen and (min-width : 992px) { @content; }
	}
	@else if $point == desktop {
		@media screen and (min-width : 1200px) { @content; }
	}

}