
#slideshow{
	overflow:hidden;
	position: relative;
	width: 100%;
	max-width: 960px;
	ul{
		padding:0;
		list-style-type: none;
		display: flex;
		display: -moz-flex;
		width: 600%;
		-webkit-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;

		li{
			float:left;
			width: 100%;
			img{
				display: block;
				width: 100%;
				//heigth:100%;
			}
			&.left{
				margin-left:-100%;
			}
			&.right{
				margin-right: -100%;
			}
		}
	}
	@include breakpoint(desktop) {
		max-width: 1400px;
	}

	#previo, #siguiente{
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		font-size: 30px;
		cursor: pointer;
		z-index: 150;
	}
	
	#previo:hover, #siguiente:hover {
		color: blue;
	}
	#previo{
		left: 5px;
	}

	#siguiente{
		right: 5px;
		transform: translateY(-50%) rotate(180deg);
	}
	
	#bullets{
		position: absolute;
		bottom: 15px;
		width: 100%; 
		z-index: 150;

		ul {
			padding: 0px 0px;
			margin: 0 auto;
			display: block;
			text-align: center;
			height: 16px;
			width: 200px;

			li {
				width: 16px;
				height: 16px;
				border-radius:50%;
				display: inline-block;
				background-color: blue;
				margin-left: 10px;
				cursor: pointer;
				
				&.active {
					background-color: yellow;
				}

			}


		}

		
	}

	


}