@import 'mixins';
@import 'vars';
@import 'icons';
@import 'header';
@import 'expand';
@import 'slideshow';

html {

	@include ancho(0px, 320px){
		font-size: 4.79px;
	}

	@include ancho(321px, 640px){
		font-size: 7.29px;
	}

	font-size: 62.5%;
}

body {
	background-color: #f5f6f7;
	color: #7f7f7f;
	font-family: "Clear Sans Thin";
	padding-bottom: 50px;

	@include breakpoint(tablet){
		padding-bottom: 24px;
	}
}

a, a:hover {
	text-decoration: none;
}


.alcien {
	width : 100%;
}

.morado {
	background-color: #8a63a6;
}

.rojo {
	background-color: #d15e5e;
}

#main-content {
	@include breakpoint(tablet){
		margin: 0 auto;
		width: 1163px / 1280px * 100%;
		max-width: 1163px;
	}

	article {
		background-color: #ffffff;
		border: $borde;
		height: 875px;
		margin: 50px auto 0 auto;
		max-width: 649px;
		padding-left: 43px / 649px * 100%;
		padding-right: 43px / 649px * 100%;
		padding-top: 73px;
		width : 649px / 750px * 100% !important;

		@include breakpoint(tablet){
			width : 370px / 387.667px * 100% !important;
			max-width: 370px;
			height: 499px;
			padding-top : 39px;
			padding-left: 22px / 370px * 100%;
			padding-right: 22px / 370px * 100%;
			margin: 24px auto 0 auto;
		}

		span.icon-flechas-expandir {
			float: right;
			font-size: 4.2rem;
			color: #7f7f7f;

			@include breakpoint(tablet){
				font-size: 2.4rem;
			}
		}

		h1 {
			font-family: 'Clear Sans Medium';
			font-size: 6.2rem;
			margin : 0;

			@include breakpoint(tablet){
				font-size: 3.6rem;
			}
		}

		h2 {
			font-family: 'Clear Sans Light';
			font-size: 2.6rem;
			margin: 17px 0 0 0;

			@include breakpoint(tablet){
				font-size: 1.6rem;
				margin: 5px 0 0 0;
			}

		}

		hr {
			height: 7px;
			margin: 12px 0 0 0;

			@include breakpoint(tablet){
				height: 4px;
				margin: 7px 0 0 0;
			}
		}

		img {
			width: 100%;
			@include breakpoint(tablet){
				height: 180px;
			}
		}

		p {
			font-size: 2.7rem;
			margin-bottom: 95px;
			
			@media screen and (min-width: 769px){
				font-size: 1.6rem;
				margin-bottom: 60px;
			}

		}

		p.info{
			font-size: 2.4rem;
			margin : 0;
			
			@include breakpoint(tablet){
				font-size: 1.4rem;
			}
		}
		
		a {
			font-size: 2.4rem;

			@include breakpoint(tablet){
				font-size: 1.4rem;
			}
		}
		
		button {
	  		background: #ffffff;
	  		border: $borde;
	  		float: right;
	  		font-size: 2.4rem;  		
	  		height: 89px;
	  		max-width: 152px;
	  		width: 152px / 182.533px * 100%;

	  		@include breakpoint(tablet){
				height: 23px;
				font-size: 1.4rem;
				max-width: 86px;
				margin-top: 17px;
			}
		}
	}
}
