$icomoon-font-path: "../fonts" !default;

$icon-bombillo: "\e900";
$icon-etiqueta: "\e901";
$icon-flechas-cerrar: "\e902";
$icon-flechas-expandir: "\e903";
$icon-info: "\e904";
$icon-link: "\e905";
$icon-lupa: "\e906";
$icon-play: "\e907";
$icon-previo: "\e908";
$icon-share: "\e909";

